rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sessions/{sessionId} {
      allow read: if true;
      allow write: if true;
      
      match /chats/{chatId} {
        allow read, write: if true;
      }
    }
    match /registrations/{registrationId} {
      allow read, write: if true;
    }
    match /liveAttendance/{attendanceId} {
      allow read, write: if true;
    }
    match /settings/{settingId} {
      allow read, write: if true;
    }
  }
}
